
body {
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight: 90;
	color: #0709080;
	width: 900px;
	line-height: 27px;
	padding-left: 50px;
}

header {
	margin-right: 20px;
	width:900;
}

h1 {
	font-size:55px;
	color: red;
	margin-bottom: 40px;
	margin-top: 80px;
	font-weight: 300;
}

h2 {
	font-weight: normal;	
	color: black;
	font-size: 2em;
	margin-bottom: 20px;
	margin-top: 20px;
}

h3 {
	color: black;
	font-weight: normal;
	font-size: 1.58em;
	margin-top:.5em;
	margin-bottom: 30px;
}
	
nav a{
	color: #d3d3d3;
	margin-right: 5px;
	text-decoration: none;
	border-bottom: 1px solid #D3D3D3;
	font-size: 1.35em;
}

footer {
	margin-top: 80px;
}

.date {
	color: #cccccc;
	margin-top: 20px;
	font-weight: 
}

.firstletter {
	font-size: 120px;
	font-weight: 300;
	color: #cccccc;
	position: relative;
	float:left;
	line-height: 80px;
	padding-right: 15px;
	margin-left: -8px;
}

.imgdimension {
	height: 50%;
}

.continues {
	font-size: 20px;
	font-weight: 700;
	color: #f30000;
	position: relative;
	float: right;
}

.maincontainer {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
}

.headerstyle{
	margin-right: 20px;

}

.footerstyle a{
	margin-right: 20px;
	color: red;
	border-bottom: none;
}