body{
	background-image: url("../img/youngliars.jpg");
	background-color:white;
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	font-family: "OPTIYork";
}

h1{
	color: blue;
	font-size: 65px;
	margin-left: 40px;
}




#lightcontainer {
	height: 320px;
	width: 100px;
	margin-right: 300px;
	background-color: orange;
	margin-top: 20%;
	float: right;
	padding-bottom: 30px;
}

.light {
	width:90px;
	height:90px;
	border-radius:50%;
	border: 2px solid gray;
	transition: background-color 1s ease 0s;
	margin-top: 19px;
	margin-left: 4px;
	background-color: rgb(25,25,112);
}

#buttoncontainer{
	float: right;
	height:330px;
	width: 160px;
	background-color: none;
	margin-top: 20%;
	margin-right: 100px;
}

button:hover {
  background-color: none;
  color: rgb(0,255,255);
  }

button{
	height: 55px;
	width: 140px;
	background-color: transparent;
	border: transparent;
	margin-left: 75%;
	margin-top:40%;
	font-size: 50px;
	color: blue;
	font-family: "OPTIYork";
	text-align: center;
	cursor:pointer;
	padding-top: 6px;
}

.