.light {
  height: 200px;
  width: 200px;
  background: black;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  transition: background 1s ease 0s; 
  cursor: pointer;
  top: 50%;
}

.lightcontainer {
	height: 700px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: orange;
}

.go:hover {
  background: green;
  height: 160px;
  width: 160px;
}

.stop:hover {
  background: red;
  height: 160px;
  width: 160px;
}

.caution:hover{
  background: yellow;
  height: 160px;
  width: 160px;
}