h1 {
	font-size: 80px;
	font-weight: normal;
	font-family: 'Mostra Nuova';
	color: white;
  border:0px;
  padding: 0px;
}

a {
  font-size: 20;
  color: white;
  font-family: 'Mostra Nuova';
  padding: 10px;
  border: 10px;
  margin:20px;
}

body {
  text-align: center;
  background-image: url("../img/art_deco_NYC.png");
  background-size: cover;
  margin:20px;
  padding:30px;
}

h2 {
  font-size: 50px;
  font-weight: normal;
  font-family: 'Mostra Nuova';
  color: white;
  border:0px
}

h3 {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Mostra Nuova';
  color: white;
  border:0px
}

.columns {
  float: left;
  width: 125px;
}

.column-parent {
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
}


input {
  border: 0;
  padding: 10px;
  font-color: white;
}
p {
  font-size : 20px;
  font-family: 'Mostra Nuova';
  color: grey;
  font-weight: normal;
}
